<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 简单日志模式 - 完整类名 -->
            <pattern>[%highlight(%level)][%X{fullClassName}][%X{id}][%X{fieldName}] - %msg%n</pattern>
            <!-- 简单日志模式 -->
            <!-- <pattern>[%highlight(%-5level)][%X{className}][%X{id}][%X{fieldName}] - %msg%n</pattern> -->
            <!-- 详细日志模式 -->
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} [%highlight(%-5level)] %logger{26} [%X{className}][%X{id}][%X{fieldName}] - %msg%n</pattern> -->
        </encoder>
    </appender>

    <!-- 设置默认日志级别为INFO -->
    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- 为特定的包或类设置日志级别 -->
    <logger name="cn.sticki" level="info"/>
    <!-- <logger name="cn.sticki" level="debug"/> -->
    <logger name="cn.sticki.validator.spel.parse.SpelParser" level="error"/>
</configuration>
